{
  "facebook": {
    "page": {
      "access_token": "EAAMG5Fcw2fkBALwqZB3ifLATm9l1aGjkiecKQoZC0JdFpCwHWo12PsJZCzVL9cAlo3Bv4L82tn9N54a5pX4UH68HlyEUyPD2GEZClIVRDD36HYDkuEOMXv6M0Vt0ZAHG9ZC4V1pWV227dnPN4CRyLZCFtiZBrRPuc5SqOZAivWxMZBTjZBQ2VElyeWW"
    }
  }
}

